body {
    font-family: 'Indie Flower', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    /*margin: 0 auto;*/
}

.grandpasider .parentsidebar .sidebar {
    /*height: 500px;*/
}

/*.container-fluid, .jumbotron-fluid {
    height: 300px;
}*/


.jumbotron-fluid {
    /*height: 300px;
    background-color: green;*/
}


.of {
    object-fit: cover;
}

/*.padre-text-enimg {
    padding: 5px;
    position: absolute;
    margin-left: 150px;
    margin-top:  180px;
}
.text-enimg {
    margin-top: 100px;
    color: red;
}*/

.img-container {
    position: relative;
    display: inline-block;
}

    .img-container .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*background: rgb(0, 170, 170);*/
        background: rgb(91, 91, 91);
        opacity: 0;
        transition: opacity 500ms ease-in-out;
    }

.img-container:hover .overlay {
   opacity: 1;
}

.overlay span {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 300px;
}

#seccion {
    animation-delay: 0s;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

$seccion2 {
    animation-delay: 2s;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
