
/* Setup icons items */

.material-icons {
    /*font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 10px; /* Preferred icon size */
    /*display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;*/
    /* Support for all WebKit browsers. */
    /*-webkit-font-smoothing: antialiased;*/
    /* Support for Safari and Chrome. */
    /*text-rendering: optimizeLegibility;*/
    /* Support for Firefox. */
    /*-moz-osx-font-smoothing: grayscale;*/
    /* Support for IE. */
    /*font-feature-settings: 'liga';*/
}

    .material-icons.md-18 {
        font-size: 18px;
    }

    .material-icons.md-24 {
        font-size: 24px;
    }

    .material-icons.md-36 {
        font-size: 36px;
    }

    .material-icons.md-48 {
        font-size: 48px;
    }


    /* Rules for using icons as black on a light background. */
    .material-icons.md-dark {
        color: rgba(0, 0, 0, 0.54);
    }

        .material-icons.md-dark.md-inactive {
            color: rgba(0, 0, 0, 0.26);
        }


    /* Rules for using icons as white on a dark background. */
    .material-icons.md-light {
        color: rgba(255, 255, 255, 1);
    }

        .material-icons.md-light.md-inactive {
            color: rgba(255, 255, 255, 0.3);
        }



body {
    font-family: 'Indie Flower', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.container {
    /*margin: 0 auto;*/
}

.grandpasider .parentsidebar .sidebar {
    /*height: 500px;*/
}

/*.container-fluid, .jumbotron-fluid {
    height: 300px;
}*/


.jumbotron-fluid {
    /*height: 300px;
    background-color: green;*/
}


.of {
    object-fit: cover;
    opacity: 0.5;
}

img {
    
}

.text-lor {
    color: white;
}

/*.padre-text-enimg {
    padding: 5px;
    position: absolute;
    margin-left: 150px;
    margin-top:  180px;
}
.text-enimg {
    margin-top: 100px;
    color: red;
}*/

.img-container {
    position: relative;
    display: inline-block;
}

    .img-container .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*background: rgb(0, 170, 170);*/
        background: rgb(91, 91, 91);
        opacity: 0;
        transition: opacity 500ms ease-in-out;
    }

.img-container:hover .overlay {
   opacity: 1;
}

.overlay, .texto-color {
    /*position: absolute;*/
    /*top: 50%;
    left: 30%;*/
    /*transform: translate(-50%, -50%);*/
    color: #fff;
    width: 300px;
}

#seccion {
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

#seccion2 {
    animation-delay: 0s;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

section {
    background-color: #5b5b5b;
}

.web2 {
    color: #212529;
}