
@model UsuarioModelCustom

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>

@{
    Layout = "~/Views/layouts/_LayoutAccount.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/css/crear.css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!--<script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/jquery/dist/jquery.js"></script>-->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <script src="~/js/ocultarclasses.js"></script>

    <title>Crear usuario nuevo</title>

</head>
<body>


    <div class="container ">

        <div class="jumbotron">
            <div class="">

                <div class="d-xl-flex flex-row-reverse justify-content-between align-items-center">

                    <div class="card h-100 p-4">
                        <img src="/imagenes/maumiau.jpg" alt="mauricio gato" class="rounded-circle no-rounded" />
                    </div>

                    <form class="border" method="post" asp-controller="Account" asp-action="Registrar">
                        @*<div asp-validation-summary="All" class="text-danger"></div>*@

                        <div class="form-group">
                            <label asp-for="NombreUsuario">Username: <i class="fa fa-user"></i> </label>
                            <input asp-for="NombreUsuario" class="form-control" placeholder="Ingresar usuario" />
                            <span asp-validation-for="NombreUsuario" class="bg-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ApellidoUsuario">Apellido: <i class="fa fa-user"></i> </label>
                            <input asp-for="ApellidoUsuario" class="form-control" placeholder="Ingresar Apellido" />
                            <span asp-validation-for="ApellidoUsuario" class="bg-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email">Email: <i class="fa fa-mail-bulk"></i> </label>
                            <input asp-for="Email" class="form-control" placeholder="Ingresar email" />
                            <span asp-validation-for="Email" class="bg-danger"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="PasswordHash">Contraseña: <i class="fa fa-user-lock"></i></label>
                            <input asp-for="PasswordHash" class="form-control" placeholder="Ingresar Contraseña" />
                            <span asp-validation-for="PasswordHash" class="bg-danger"></span>
                        </div>

                        <div class="form-group">

                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked>
                                <label class="custom-control-label text-info" for="customRadio1">Administrador</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label text-info" for="customRadio2">Usuario</label>
                            </div>

                            <div class="custom-control custom-radio ">
                                <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label text-info" for="customRadio3">Guest</label>
                            </div>

                            @*<label>Rol: </label>
        <div class="list-group">
            <a href="#" class="list-group-item ">Administrador</a>
            <a href="#" class="list-group-item ">Invitado</a>
        </div>*@

                        </div>

                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" />
                                Usuario activo?
                            </label>
                        </div>

                        <button class="btn btn-info">Enviar</button>
                        @Html.ValidationSummary(true, "", new { @class = "alert-danger" })
                    </form>

                </div>

            </div>


        </div>
    </div>

</body>
</html>