
@{
    Layout = "~/Views/layouts/_libreriasSinLayouts.cshtml";
}

<!DOCTYPE html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Galeria</title>
</head>
<body class="bg-dark">


    <div class="container">

        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0 text-muted">Galeria de imagenes</h1>

        <hr class="mt-2 mb-5">

        <div class="row text-center text-lg-left">

            <div class="col-lg-3 col-md-4 col-6 img-space">
                <a href="#" class="d-block mb-4 h-100 pics animacion" data-dismiss="modal">
                    <img class="img-fluid img-thumbnail" src="~/img-galery/do not enter.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 img-space">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="~/img-galery/fuego.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 img-space">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="~/img-galery/ahora2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 img-space">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="~/img-galery/chicapintada.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 img-space">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="~/img-galery/congreso.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 img-space">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="~/img-galery/fondogym.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 img-space">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="~/img-galery/fondologin.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 img-space">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="~/img-galery/laptop-code.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 img-space">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="~/img-galery/index.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 img-space">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="~/img-galery/laptop-code.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 img-space">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="~/img-galery/registrar.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 img-space">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="~/img-galery/test.jpg" alt="">
                </a>
            </div>




            <div class="col-lg-3 col-md-4 col-6 img-space">
                <a href="#" class="d-block mb-4 h-100 pics animacion" data-dismiss="modal">
                    <img class="img-fluid img-thumbnail" src="~/img-galery/do not enter.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 img-space">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="~/img-galery/chicapintada.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 img-space">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="~/img-galery/fuego.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 img-space">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="~/img-galery/ahora2.jpg" alt="">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6 img-space">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="~/img-galery/chicapintada.jpg" alt="">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6 img-space">
                <a href="#" class="d-block mb-4 h-100 pics animacion" data-dismiss="modal">
                    <img class="img-fluid img-thumbnail" src="~/img-galery/do not enter.jpg" alt="">
                </a>
            </div>


            <div class="col-lg-3 col-md-4 col-6 img-space">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="~/img-galery/ahora2.jpg" alt="">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6 img-space">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="~/img-galery/fuego.png" alt="">
                </a>
            </div>


        </div>

    </div>

</body>