
@{
    ViewData["Title"] = "Null";
    Layout = "~/Views/layouts/_LayoutAccount.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="text-danger">Se Encuentra vacio O nulo </h1>
        </div>
        <div class="card-body">

            <img src="~/imagenes/vacio.jpg" alt="El vacio mismo" />
        </div>
    </div>
</div>