
@{
    ViewData["Title"] = "Index";

}


<link href="~/css/Inicio.css" rel="stylesheet" />

<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">



<section class="row">
    <div class="img-container col-12 d-flex z-depth-1">
        <img class="img-fluid of" src="~/imagenes/laptop-code.jpg" style="width:100%; height: 500px;">

        <div class="overlay d-flex justify-content-between">
            
            <div class="col-4 d-flex flex-column text-color p-3 justify-content-center align-items-center">

                <img src="~/imagenes/chicapintada.jpg" class="img-thumbnail rounded-circle" style="max-width:150px;"/>

                <div class="container-fluid p-5 text-lor">
                    <p class="">Mi nombre es Ponce Gaston Alejandro soy desarrollador web...</p>
                    <p class="">manejo de tegnologias Microsoft y metodologias agiles </p>
                    <p class="">esta pagina esta en construccion </p>
                    <p class="">lorem ipsum native ipsum lorem. </p>
                </div>
                
            </div>

            <div class="col-8 d-flex flex-column justify-content-around align-items-center">

                <div class="col-5 bg-secondary p-3">
                    <p>Javascript <img width="20" src="https://img.icons8.com/ios/50/000000/javascript-logo.png"/></p>
                    <p>Asp .net <i class="material-icons md-inactive"></i></p>
                    <p>HTML5 CSS3   </p>
                    <p>MySQL entity framework</p>
                </div>

                <div class="col-5 bg-info p-3">
                    <p>Row 2</p>
                    <p>Row 2</p>
                    <p>Row 2</p>
                    <p>Row 2</p>
                </div>
            </div>
        </div>

    </div>

</section>


<section id="seccion1"  class="container-fluid">

    <div class="row justify-content-around">

        <div class=" col-3 pt-3 animated bounceInDown delay-1s"> 
            <img src="~/imagenes/ahora.jpg" alt="no pasaras foto" class="gast " width:100%; style="max-height: 300px;" id="seccion"/>
            
        </div>

        <div class="col-3 p-3 text-center animated bounceInDown delay-1s "> 
            <img src="~/imagenes/ahora2.jpg" alt="mi foto" class="gast" width:"100%; style="max-height: 300px;" id="seccion2" />
        </div>

    </div>
</section>



<section class="container-fluid">

    <div class="row p-2 d-flex justify-content-around text-center ">

        <div class="col-5 animated lightSpeedIn delay-1s">
            @* animated lightSpeedIn delay-1s *@

            <h1>Otras Nuevas secciones web 1</h1>

        </div>

        <div class="web2 col-5 animated lightSpeedIn delay-2s">
            <!-- animated lightSpeedIn delay-2s -->
            <h1>Otras Nuevas secciones web 2</h1>
        </div>



    </div>

</section>

@*<button class="btn btn-primary" id="presiona">
    presionar el boton
</button>*@


<div class="fontawesome">
    <script src="https://kit.fontawesome.com/1beb06eb04.js" crossorigin="anonymous"></script>
</div>

@* animaciones jquery *@
<div class="animaciones">
    <script src="~/js/animacion.js"></script>
</div>