
@{
    ViewData["Title"] = "Index";

}


<link href="~/css/Inicio.css" rel="stylesheet" />

<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">


<div class="container-fluid">

    <section class="row">

        <div class="d-lg-flex img-container">

            <img class="of" src="~/imagenes/laptop-code.jpg" style="width:100%; height: 500px;">

            <div class="responsive-header-img overlay d-flex justify-content-around">

                <div class="col-lg-4 col-sm-4 d-flex flex-column text-color responsive-pintada justify-content-lg-around align-items-lg-center imgtext">

                    <img src="~/imagenes/chicapintada.jpg" class="img-fluid rounded-circle chicapintada"/>

                    <div class="container-fluid text-lor">
                        <p>Mi nombre es Ponce Gaston Alejandro soy desarrollador web...</p>
                        <small class="text-muted"><u>Manejo de tegnologias Microsoft y metodologias agiles </u></small>
                        <br />
                        <small class="text-muted"><u>Esta pagina esta en construccion </u></small>
                        <br />
                        <small class="text-muted"><u>Lorem ipsum native ipsum lorem. </u></small>
                    </div>


                </div>

                <div class="col-lg-7 col-sm-6 d-flex flex-column justify-content-around align-items-center">

                    <div class="colum5 col-lg-5 bg-secondary">
                        <p>Javascript <img width="20" src="https://img.icons8.com/ios/50/000000/javascript-logo.png" /></p>
                        <p>Asp .net <i class="material-icons md-inactive"></i></p>
                        <p>HTML5 CSS3   </p>
                        <p>MySQL entity framework</p>
                    </div>

                    <div class="colum5 col-lg-5 bg-info">
                        <p>Row 2</p>
                        <p>Row 2</p>
                        <p>Row 2</p>
                        <p>Row 2</p>
                    </div>

                </div>
            </div>

        </div>

    </section>
</div>

<div class="container-fluid">
    <div class="row p-lg-5 p-md-5 text-center" style="background-color:#5b5b5b;">

        <div class="col figure padding-img d-lg-flex d-md-flex justify-content-lg-between align-items-lg-center flex-lg-column">
            <img src="~/imagenes/vacio.jpg" alt="no pasaras foto" class="figure-img gast" id="imagen1"/>
            <figcaption class="figure-caption">
                <p>imagen numero 1 es la primer imagen</p>
            </figcaption>
        </div>

        <div class="col figure padding-img d-lg-flex d-md-flex justify-content-lg-between align-items-lg-center flex-lg-column">
            <img src="~/imagenes/ahora2.jpg" alt="no pasaras foto" class="figure-img gast" id="imagen2"/>
            <figcaption class="figure-caption">
                <p>imagen numero 2 es la primer imagen</p> 
            </figcaption>

        </div>

        <div class="col figure padding-img d-lg-flex d-md-flex justify-content-lg-between align-items-lg-center flex-lg-column">
            <img src="~/imagenes/ahora.jpg" alt="casa blanca" class="figure-img gast" id="imagen3"/>
            <figcaption class="figure-caption">
                <p>imagen numero 3 es la primer imagen</p>
            </figcaption>
        </div>

    </div>

</div>

<section>

</section>


<section class="container-fluid ">

    <div class="textos row p-5 d-flex justify-content-around text-center">

        <div class="web2 col-lg-5" id="seccionn-desarrollo1"> 

            <div class="card d-flex justify-content-between align-items-center" style="width: 100%;">

                <div class="container" >

                    <h3 class="text-muted">Desarrollo web en secciones</h3>

                    <p> Pagina web de secciones </p>

                    <p>Blah blah aca se muestra el texto</p>

                    <p>este es otro texto </p>

                </div>

                <div class="img p2">

                    <img class="img" src="~/imagenes/vacio.jpg" style="width: 100%; height: 100%;" alt="imagen 4"/>

                </div>

            </div>

        </div>

        <div class="web2 col-lg-5" id="seccionn-desarrollo2">

            <div class="card d-flex justify-content-between align-items-center" style="width: 100%;">

                <div class="container">

                    <h3 class="text-muted">Desarrollo web en secciones 2</h3>

                    <p> Pagina creada en el protocolo distante</p>

                    <p> Pagina web para el protocolo  distante 2</p>

                </div>

                <div class="img p2">

                    <img class="img" src="~/imagenes/test.jpg" style="width: 100%; height: 100%;" />

                </div>

            </div>

        </div>

    </div>

</section>

@*<button class="btn btn-primary" id="presiona">
        presionar el boton
  </button>*@


@*<div class="fontawesome">
    <script src="https://kit.fontawesome.com/1beb06eb04.js" crossorigin="anonymous"></script>
</div>*@

@* animaciones jquery *@
<div class="animaciones">
    <script src="~/js/animacion.js"></script>
    @*<script src="~/js/scrollingDetection.js"></script>*@
</div>