
@{
    ViewData["Title"] = "Index";
   
}

    <link href="~/css/Inicio.css"/>

    <div class="container m-0 m-auto d-flex bg-info">
        <div class="card m-2">
            <div class="card-header">
                <h4 class="text-danger">header de la pagina</h4>
                <h1 class="text-success">BIENVENIDOS A INICIO</h1>
            </div>
            <div class="card-body">
                <h3>este es el card body</h3>
            </div>
            <div class="card-footer">
                <h3>Este es el card footer </h3>
            </div>
        </div>
        <div class="sidebar justify-content-end">
            <div class="card bg-danger">

                <div class="card-header">
                    <p>Side bar para pagina</p>
                    <p class="text-danger">cabezal del sidebar</p>
                </div>
                <div class="card-body">
                    <p class="text-danger">Card body del sidebar</p>
                </div>

                <div class="footer">
                    <p class="text-success">Footer del sidebar</p>
                </div>
            </div>
            
        </div>
        
    </div>


