body {
    margin: 0px;
    box-sizing: border-box;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/imagenes/congreso.jpg") no-repeat center center fixed;
    background-size: cover;
    opacity: 0.9;
}

.imgparent {
    /*margin: 60px 30px 30px 0px;*/
    /*width: 300px;*/
}

img {
    /*margin: 10px 10px 10px 10px;*/
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
}

img:hover {
   cursor: pointer;
   -webkit-transform: scale(0.80, 0.80);
   -ms-transform: scale(0.80, 0.80);
   transform: scale(0.80, 0.80);
   transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s; /* Safari */
   box-shadow: 10px 10px 5px #888888;
   z-index: 1;
}


.navbar {

    height:90px;


}

span {
    width: 50px;
}