
@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>_footerlayout</title>
</head>

@section Footer
{

    <footer class="footer font-small bg-primary pt-1">

        <div class="container-fluid text-center text-md-left">

            <div class="row">

                <div class="col-md-6 mt-md-0 mt-1 bg-danger">

                    <h5 class="text-uppercase">Footer Contenido</h5>
                    <p>Organizamos nuestros contenidos</p>

                </div>

                <hr class="clearfix w-100 d-md-none pb-3 bg-danger" />


                <div class="col-md-3 mb-md-0 mb-1">

                    <h5 class="text-uppercase">
                        links
                    </h5>

                    <ul>
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                    </ul>
                </div>

                <div class="col-md-3 mb-md-0 mb-1">
                    <h5 class="text-uppercase">
                        links
                    </h5>

                    <ul class="list-unstyled">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                    </ul>
                </div>



            </div> <!-- end ROW -->

        </div> <!-- end CONTAINER  -->
        <!-- Copyrights -->
        <div class="footer-copyright text-center py-3">
            <a href="https://google.com"> Google.com</a>
        </div>
        <!-- Copyrights -->

    </footer>

}